div {
  font-size: 2rem;
  font-weight: 600;
}
button {
  background: #2c1662;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.container {
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter{
  display: flex;
}
